{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "css",
    "scss",
    "^@core/(.*)$",
    "^@mui/(.*)$",
    "^types/",
    "^constants/",
    "^validation/",
    "^utils/",
    "^hooks/",
    "^context/",
    "^store/",
    "^api/",
    "^services/",
    "^assets/",
    "^components/",
    "^pages/",
    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true
}
