@import 'tailwindcss';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
  --padding-layout: 1.2rem;

  --color-primary: #ef4444;
  --color-bg: #191b28;
  --color-white: #fff;
  --color-border: #2a3439;

  --duration-default: 333ms;
  --timing-default: ease-in-out;
}

:root {
  --sidebar-width: 15rem;
}

html,
body {
  @apply text-white bg-bg text-base;
}

@layer utilities {
  .grid-6-cols {
    @apply grid grid-cols-6 gap-6
  }
}